*{
    box-sizing: border-box;
}
body {
display: grid;
 grid-template-rows: 70px 1fr 150px ;
 gap: 30px;


}
header {display:flex;
align-items:center;
justify-content: space-between;

}
section:nth-child(2){
  display: flex;
  gap:30px;
  margin-top: 30px;
  
}
section:nth-child(1){
  display: flex;
  gap:30px;
  margin-bottom: 30px;
  
}
footer{
  background-color: gray;
}
header {
  background-color: gray;

}
a{
  color: white
}